<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.mapper.DynamicRoutesMapper">

    <resultMap id="BaseResultMap" type="com.rs.domain.DynamicRoutes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentrouteid" column="parentRouteId" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="alias" column="alias" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="discription" column="discription" jdbcType="VARCHAR"/>
            <result property="createuserid" column="createUserId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parentRouteId,name,
        icon,alias,state,
        sort,value,redirect,
        type,discription,createUserId
    </sql>
    <select id="getRoutesByIds" resultType="com.rs.domain.DynamicRoutes">
        select * from dynamic_routes where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
